@import 'common';

.bio-block {
    background-color: #392e2e;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 20px 0;
    
    position:relative;
    z-index: 3;
}

.bio {
    display: inline-block;
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    .pic {
        flex: 1;
        width: 100%;
        position: relative;
        align-self: center;
    }
    img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        height: 200px;
        width: 200px;

    }
    .description {
        @extend .content;
        display: flex;
        flex-direction: column;
        flex: 10000;
        min-width: 200px;
        padding: 0 10px;
    }

    .basic-info {
        padding: 0 10px;
        min-width: 260px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .basic-info * {
        flex: 0;
    }
    .basic-info h1 {
        display: block;
        border-bottom: 2px solid white;
        text-align: center;
        //flex: 1;
    }
}

.basic-info-line {
    .name {
        float: left;
        font-weight: bold;
    }
    .value {
        float: right;
    }
}