

.event {
    position: relative;
    display: flex;
    margin-top: 40px;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 0.95em;
    .content {
        flex: 1;
        flex-basis: 400px;
        margin-top: 5px;
    }
}



.event .date-range{
    margin-right:15px;
    color: orange;
    margin-bottom: 5px;
    flex: none;
}

.education-block {
    position: relative;
    background: #334344;
    color: white;
    z-index: 2;

    box-shadow: $boxShadow;
}

.experience-block {
    position: relative;
    background: #0f314d; 
    color: white;
    box-shadow: $boxShadow;
    z-index: 1;
    padding-bottom: 3em;
}

.projects-block {
    position: relative;
    background: #334344; 
    color: white;
    z-index: 0;

}

[class^='tech-']:before {
    background: white;
    color: black;
    border-radius: 0.25em;
    padding: 1px 3px;
    font-size: 0.75em;
}

.tech-react:before {
    content: 'React.js'
}
.tech-c\+\+:before {
    content: 'C++'
}
.tech-flask:before {
    content: 'Flask'
}

.tech-peewee:before {
    content: 'Peewee'
}
.tech-sql:before {
    content: 'SQL'
}

.tech-android:before {
    content: 'Android'
}

.tech-php:before {
    content: 'PHP'
}

.tech-pdf\.js:before {
    content: 'PDF.js'
}