

.event {
    position: relative;
    display: flex;
    margin-top: 40px;
    align-items: baseline;
    flex-wrap: wrap;
    .content {
        flex: 1;
        min-width: 400px;
        margin-top: 5px;
    }
}



.event .date-range{
    margin-right:15px;
    color: orange;
    margin-bottom: 5px;
    flex: none;
}

.education-block {
    position: relative;
    background: #334344;
    color: white;
    box-shadow: $boxShadow;
}

.experience-block {
    position: relative;
    background: #0f314d; 
    color: white;
    box-shadow: $boxShadow;
    z-index: -1;
}

.projects-block {
    position: relative;
    background: #334344; 
    color: white;
    z-index: -2;

}