

.event {
    position: relative;
    display: flex;
    margin-top: 40px;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 0.95em;
    .content {
        flex: 1;
        flex-basis: 400px;
        margin-top: 5px;
    }
}



.event .date-range{
    margin-right:15px;
    color: orange;
    margin-bottom: 5px;
    flex: none;
    display: flex;
    flex-direction: row;
    width: 187px;
    justify-content: space-between;
}

.education-block {
    position: relative;
    background: #36403E;
    color: white;
    z-index: 2;

    box-shadow: $boxShadow;
}

.experience-block {
    position: relative;
    background: #4D3B31; 
    color: white;
    box-shadow: $boxShadow;
    z-index: 1;
    padding-bottom: 3em;
}

.projects-block {
    position: relative;
    background: #334344; 
    color: white;
    z-index: 0;

}

.tech {
    background: white;
    color: black;
    border-radius: 0.25em;
    padding: 1px 3px;
    font-size: 0.75em;
}