@import 'common';
@import "node_modules/material-shadows/material-shadows";


.menu-bar {
    height: 2.5em;
    box-shadow: shadow(1);
    background: #dddddd;
    position: relative;
    z-index: 2;
}

[class^="icon-"] {
    padding: 0.5em;
    min-width: 1em;
    max-width: 1em;

    height: 1em;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 1em;
    margin: 0.25em;
    z-index: 4;
    position: relative;
    display: inline-block;
    transition: transform 0.1s;
    white-space: nowrap;
}

[class^="icon-"]:before {
    z-index: 2;
    position: relative;
}


[class^="icon-"]:hover {
    transform: translateY(-2px);
}

[class^="icon-"] span:not(:empty):before {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0'
}
[class^="icon-"] span{
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    overflow: hidden;
    height: 1em;
    min-width: 1em;
    max-width: 1em;

    border-radius: 1em;
    padding: 0.5em;
    transition: max-width 0.9s, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    @include z-depth(6);
}

[class^="icon-"]:hover span {
    display: initial;
    max-width: 10em;
    @include z-depth-focus();
}
.icon-github {
    background: #24292e;
}

.icon-facebook {
    background: #3B5998;
}

.icon-linkedin {
    background: #0084bf;
}

.icon-globe {
    background: #392e2e;
}